html, body {
  margin: 0px;
  height: 100%;
  max-width: 100%;
}

#container {
  display: flex;
  height: 100%;
  flex-flow: row;
}


#page {
  flex: 1;
  background-color: #BBB;
  height: 100%;
}

#handle {
  width:10px;
  min-width: 10px;
  background-color:#444;
  cursor: ew-resize;
}

#sidebar {
  
  width: 250px;
  background-color: #999;
  height: 100%;
}